* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0px!important;
    padding: 0px!important;
    min-height: 100%;
}

body {
    /* 
  background-repeat: no-repeat;
  background-image: url('../images/background.jpg');
  background-size: cover;
  filter: blur(5px); */
}

/* 
.overlay{
    position: absolute;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
}
 */

.container-fluid:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-repeat: no-repeat;
    background-image: url('../images/background.jpg');
    background-size: cover;
    height: 100%;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.container-fluid {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    margin-left: 20px;
    margin-right: 20px
}