@import url('https://fonts.googleapis.com/css?family=Shrikhand&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash&subset=latin-ext');

* {
    margin: 0px!important;
    padding: 0px!important;
}

html, body {
    min-height: 100%;
}

body:before {
    content: '';
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.side-bar, .vs-bar {
    text-align: center;
}

.vs-bar p {
    position: absolute;
    top: 50%;
    left: 12%;
    line-height: 45px;
    font-family: 'Shrikhand', cursive;
    font-size: 27pt;
    color: white;
    text-shadow: -1px -1px 15px white;
}

.content {
    position: relative;
    width: 50%;
    margin: 5px;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.content:hover .image {
    opacity: 0.3;
}

.content:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.content:hover .middle {
    opacity: 1;
}

.container-fluid {
    position: absolute;
    top: 40%
}

.middle p {
    color: white;
    text-shadow: 2px 2px black;
    font-family: 'Berkshire Swash', cursive;
    line-height: 28px;
    font-size: 15px;
    font-style: italic;
}