
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Titan+One');


html, body {
    min-height: 100%;
}

body:before {
    content: '';
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    /* iOS Safari */
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Konqueror HTML */
    -khtml-user-select: none;
    /* Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
    /* Non-prefixed version, currently  supported by Chrome and Opera */
    user-select: none;
}

.container {
    background-color: rgba(0, 0, 0, .5);
    color: white;
    margin-top: 5%!important;
    margin-bottom: 5%;
    border: 1px solid white;
}

.question-content {
    border: 1px dotted white;
    
}

.question-content img {
    width: 250px;
    height: 200px;
    cursor: pointer;
}

.details-row{
    display: none;
    font-family: 'Berkshire Swash', cursive;
    font-size: 13pt;
    letter-spacing: 2px;
    text-shadow: 2px 2px black;
    margin-top: 5px;
}


.content-text-div{
    background-color: rgba(255, 0, 0, 0.4);
}

.content-text-value {
    bottom: 2px;
    font-family: 'Titan One', cursive;
    font-size: 23pt;
    text-transform: uppercase;
    text-shadow: 5px 2px black;
    letter-spacing: 10px;

}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


.question-content:hover img {
    opacity: 0.3;
}

.question-content:hover {
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    cursor: pointer;
}

.question-content:hover .middle {
    opacity: 1;
}


.middle p {
    color: white;
    text-shadow: 2px 2px black;
    font-family: 'Indie Flower', cursive;
    line-height: 28px;
    font-size: 76pt;
    font-style: italic;
} 
